body {
    font-family: Arial, sans-serif;
    background-color: #00ff73;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    background-color: ##4c00ff;
    width: 400px;
    padding: 40px;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(223, 0, 0, 0.1);
  }
  
  .login-form h1 {
    text-align: center;
    margin-bottom: 30px;
  }
  
  .login-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #d2ff0b;
    border-radius: 4px;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #45a049;
  }
  